Action Figure Automation.blueprint.json
{
    "name": "Action Figure Automation",
    "flow": [
        {
            "id": 14,
            "module": "fillout:newSubmission",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 2199626
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "Action Figure 3D - Aanleveren"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:fillout",
                        "label": "Webhook",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "submissionId",
                        "type": "text",
                        "label": "Submission ID"
                    },
                    {
                        "name": "submissionTime",
                        "type": "date",
                        "label": "Submission time"
                    },
                    {
                        "name": "answers",
                        "spec": [
                            {
                                "name": "4StW",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "filename",
                                        "type": "text",
                                        "label": "Filename"
                                    }
                                ],
                                "type": "array",
                                "label": "Upload Persoon Foto 2"
                            },
                            {
                                "name": "5hbh",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "filename",
                                        "type": "text",
                                        "label": "Filename"
                                    }
                                ],
                                "type": "array",
                                "label": "Upload Persoon Foto 3"
                            },
                            {
                                "name": "8cBK",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "filename",
                                        "type": "text",
                                        "label": "Filename"
                                    }
                                ],
                                "type": "array",
                                "label": "Upload Schoenen"
                            },
                            {
                                "name": "cFmd",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "filename",
                                        "type": "text",
                                        "label": "Filename"
                                    }
                                ],
                                "type": "array",
                                "label": "Upload Top"
                            },
                            {
                                "name": "dvSu",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "filename",
                                        "type": "text",
                                        "label": "Filename"
                                    }
                                ],
                                "type": "array",
                                "label": "Upload Persoon Foto 5"
                            },
                            {
                                "name": "jhVT",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "filename",
                                        "type": "text",
                                        "label": "Filename"
                                    }
                                ],
                                "type": "array",
                                "label": "Upload Persoon Foto 6"
                            },
                            {
                                "name": "mXYA",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "filename",
                                        "type": "text",
                                        "label": "Filename"
                                    }
                                ],
                                "type": "array",
                                "label": "Upload Broek\t"
                            },
                            {
                                "name": "pNev",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "filename",
                                        "type": "text",
                                        "label": "Filename"
                                    }
                                ],
                                "type": "array",
                                "label": "Upload Persoon Foto 1"
                            },
                            {
                                "name": "rm4j",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "filename",
                                        "type": "text",
                                        "label": "Filename"
                                    }
                                ],
                                "type": "array",
                                "label": "Upload Persoon Foto 4"
                            }
                        ],
                        "type": "collection",
                        "label": "Answers"
                    },
                    {
                        "name": "urlParams",
                        "spec": [],
                        "type": "collection",
                        "label": "URL Parameters"
                    },
                    {
                        "name": "calculations",
                        "spec": [],
                        "type": "collection",
                        "label": "Calculations"
                    },
                    {
                        "name": "scheduling",
                        "spec": [],
                        "type": "collection",
                        "label": "Scheduling"
                    }
                ]
            }
        },
        {
            "id": 27,
            "module": "http:ActionGetFile",
            "version": 3,
            "parameters": {
                "handleErrors": false
            },
            "mapper": {
                "url": "{{14.answers.pNev[].url}}",
                "method": "get",
                "serializeUrl": false,
                "shareCookies": false
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "hidden",
                        "label": "Method"
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 22,
            "module": "dropbox:createShareLink",
            "version": 5,
            "parameters": {
                "__IMTCONN__": 3234678
            },
            "mapper": {
                "path": "/Action Figures/voorbeeld-3d-design.png",
                "select": "file",
                "select_1": "file",
                "settings": {
                    "access": "max",
                    "allow_download": true,
                    "require_password": false
                }
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "path": {
                            "mode": "chose"
                        },
                        "select": {
                            "label": "Select a file/folder"
                        },
                        "select_1": {
                            "label": "File"
                        },
                        "settings": {
                            "nested": {
                                "access": {
                                    "mode": "chose",
                                    "label": "Max Access"
                                },
                                "allow_download": {
                                    "mode": "chose"
                                },
                                "require_password": {
                                    "mode": "chose"
                                },
                                "requested_visibility": {
                                    "mode": "chose",
                                    "label": "Empty"
                                }
                            }
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "dropbox"
                            },
                            "label": "Joost Heijden AI - 10gig (joost.heijden@hotmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:dropbox",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Way of selecting files",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "file"
                            ]
                        }
                    },
                    {
                        "name": "settings",
                        "spec": [
                            {
                                "name": "access",
                                "type": "select",
                                "label": "Link's Access Level",
                                "validate": {
                                    "enum": [
                                        "viewer",
                                        "editor",
                                        "max"
                                    ]
                                }
                            },
                            {
                                "name": "expires",
                                "time": true,
                                "type": "date",
                                "label": "Link's Expiration Date"
                            },
                            {
                                "name": "require_password",
                                "type": "boolean",
                                "label": "Require Password"
                            },
                            {
                                "name": "link_password",
                                "type": "text",
                                "label": "Link's Password"
                            },
                            {
                                "name": "allow_download",
                                "type": "boolean",
                                "label": "Allow Download"
                            },
                            {
                                "name": "requested_visibility",
                                "type": "select",
                                "label": "Requested Visibility (Deprecated)",
                                "validate": {
                                    "enum": [
                                        "public",
                                        "team_only",
                                        "password"
                                    ]
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Settings"
                    },
                    {
                        "name": "select_1",
                        "type": "select",
                        "label": "Select",
                        "required": true,
                        "validate": {
                            "enum": [
                                "file",
                                "folder"
                            ]
                        }
                    },
                    {
                        "name": "path",
                        "type": "file",
                        "label": "File",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 23,
            "module": "openai-gpt-3:analyzeImages",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 177831
            },
            "mapper": {
                "model": "gpt-4o",
                "top_p": "1",
                "images": [
                    {
                        "imageUrl": "{{14.answers.mXYA[].url}}",
                        "imageUploadType": "url"
                    }
                ],
                "prompt": "omschrijf deze broek en noem de exacte kleur.",
                "max_tokens": "2048",
                "temperature": "1",
                "n_completions": "1"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0,
                    "name": "Broek"
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4o"
                        },
                        "images": {
                            "mode": "chose",
                            "items": [
                                {
                                    "imageUploadType": {
                                        "mode": "chose",
                                        "label": "Image URL"
                                    }
                                }
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "prompt",
                        "type": "text",
                        "label": "Prompt",
                        "required": true
                    },
                    {
                        "name": "images",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "imageUploadType",
                                    "type": "select",
                                    "label": "How would you like to specify an image?",
                                    "options": [
                                        {
                                            "label": "Image URL",
                                            "value": "url",
                                            "nested": [
                                                {
                                                    "help": "Public URL of the image. For example, `https://getmyimage.com/myimage.png`.",
                                                    "mode": "edit",
                                                    "name": "imageUrl",
                                                    "type": "url",
                                                    "label": "Image URL",
                                                    "mappable": {
                                                        "help": "Public URL of the image. For example, `https://getmyimage.com/myimage.png`."
                                                    },
                                                    "required": true
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Image File",
                                            "value": "imageFile",
                                            "nested": [
                                                {
                                                    "help": "Binary data of the image. For example, you can retrieve the binary data of your image using the __HTTP: Get a file__ module.",
                                                    "name": "imageFileData",
                                                    "type": "buffer",
                                                    "label": "Image File",
                                                    "required": true,
                                                    "semantic": "file:data"
                                                }
                                            ]
                                        }
                                    ],
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Image"
                        },
                        "type": "array",
                        "label": "Images",
                        "required": true
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    }
                ]
            }
        },
        {
            "id": 24,
            "module": "openai-gpt-3:analyzeImages",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 177831
            },
            "mapper": {
                "model": "gpt-4o",
                "top_p": "1",
                "images": [
                    {
                        "imageUrl": "{{14.answers.`8cBK`[].url}}",
                        "imageUploadType": "url"
                    }
                ],
                "prompt": "omschrijf zo goed mogelijk deze schoenen.",
                "max_tokens": "2048",
                "temperature": "1",
                "n_completions": "1"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0,
                    "name": "Schoenen"
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4o"
                        },
                        "images": {
                            "mode": "chose",
                            "items": [
                                {
                                    "imageUploadType": {
                                        "mode": "chose",
                                        "label": "Image URL"
                                    }
                                }
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "prompt",
                        "type": "text",
                        "label": "Prompt",
                        "required": true
                    },
                    {
                        "name": "images",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "imageUploadType",
                                    "type": "select",
                                    "label": "How would you like to specify an image?",
                                    "options": [
                                        {
                                            "label": "Image URL",
                                            "value": "url",
                                            "nested": [
                                                {
                                                    "help": "Public URL of the image. For example, `https://getmyimage.com/myimage.png`.",
                                                    "mode": "edit",
                                                    "name": "imageUrl",
                                                    "type": "url",
                                                    "label": "Image URL",
                                                    "mappable": {
                                                        "help": "Public URL of the image. For example, `https://getmyimage.com/myimage.png`."
                                                    },
                                                    "required": true
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Image File",
                                            "value": "imageFile",
                                            "nested": [
                                                {
                                                    "help": "Binary data of the image. For example, you can retrieve the binary data of your image using the __HTTP: Get a file__ module.",
                                                    "name": "imageFileData",
                                                    "type": "buffer",
                                                    "label": "Image File",
                                                    "required": true,
                                                    "semantic": "file:data"
                                                }
                                            ]
                                        }
                                    ],
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Image"
                        },
                        "type": "array",
                        "label": "Images",
                        "required": true
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    }
                ]
            }
        },
        {
            "id": 25,
            "module": "openai-gpt-3:analyzeImages",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 177831
            },
            "mapper": {
                "model": "gpt-4o",
                "top_p": "1",
                "images": [
                    {
                        "imageUrl": "{{14.answers.cFmd[].url}}",
                        "imageUploadType": "url"
                    }
                ],
                "prompt": "omschrijf zo goed mogelijk deze top.",
                "max_tokens": "2048",
                "temperature": "1",
                "n_completions": "1"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0,
                    "name": "Schoenen"
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4o"
                        },
                        "images": {
                            "mode": "chose",
                            "items": [
                                {
                                    "imageUploadType": {
                                        "mode": "chose",
                                        "label": "Image URL"
                                    }
                                }
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "prompt",
                        "type": "text",
                        "label": "Prompt",
                        "required": true
                    },
                    {
                        "name": "images",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "imageUploadType",
                                    "type": "select",
                                    "label": "How would you like to specify an image?",
                                    "options": [
                                        {
                                            "label": "Image URL",
                                            "value": "url",
                                            "nested": [
                                                {
                                                    "help": "Public URL of the image. For example, `https://getmyimage.com/myimage.png`.",
                                                    "mode": "edit",
                                                    "name": "imageUrl",
                                                    "type": "url",
                                                    "label": "Image URL",
                                                    "mappable": {
                                                        "help": "Public URL of the image. For example, `https://getmyimage.com/myimage.png`."
                                                    },
                                                    "required": true
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Image File",
                                            "value": "imageFile",
                                            "nested": [
                                                {
                                                    "help": "Binary data of the image. For example, you can retrieve the binary data of your image using the __HTTP: Get a file__ module.",
                                                    "name": "imageFileData",
                                                    "type": "buffer",
                                                    "label": "Image File",
                                                    "required": true,
                                                    "semantic": "file:data"
                                                }
                                            ]
                                        }
                                    ],
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Image"
                        },
                        "type": "array",
                        "label": "Images",
                        "required": true
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    }
                ]
            }
        },
        {
            "id": 17,
            "module": "openai-gpt-3:GenerateImage",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 177831
            },
            "mapper": {
                "n": "1",
                "model": "gpt-image-1",
                "prompt": "Create a full-color, 3D-rendered collectible action figure exactly 10 cm tall, designed for SLA resin 3D printing.\n\nKey requirements:\n\n- The figure must be watertight and printable as a single, solid mesh. No overhangs, floating parts, or thin elements.\n- Use this reference image for proportions and design style (oversized head, minimal face, smooth solid forms, designer-toy style):  \n  https://www.dropbox.com/scl/fi/lnf92ajx5d8z1m7svshni/voorbeeld-3d-design.png?rlkey=qcxedwq416tlwi4xoxt5rqko5&dl=0\n\nHEAD / FACE:\n\n- Use the face of the person from this images:  \nfileName: {{27.fileName}}\nfileData: {{27.data}}\n\n- Accurately capture the person's facial structure, skin tone, hairstyle, and overall likeness.\n- Slightly adjust the expression to a closed-mouth smile.\n- Hair and facial features must be sculpted as solid parts — no floating strands. Merge everything into the head structure.\n\nCLOTHING:\n\n- Dress the figure in the outfit shown in the following image(s):  \n\nBroek:  \n\nSchoenen: \n\nTop: \n\n- Simplify fine details like seams, folds, or buttons for printability.\n- All garments must be sculpted and fused to the figure’s body — no floating or fragile elements.\n\nPOSE:\n\n- Neutral, symmetrical pose with:\n  - Head straight and level, facing forward\n  - Shoulders even\n  - Arms resting naturally at sides\n  - Hands relaxed\n  - Feet flat, shoulder-width apart\n- Do NOT include a base or stand.\n\nRENDERING:\n\n- Render the figure in high resolution, full color, with smooth lighting.\n- No texture maps or visible print layers.\n- Export the render as a centered PNG with a transparent background.\n- Include a soft, realistic drop shadow that is preserved in the transparency layer.\n- Show the entire figure from head to toe, perfectly centered.\n\nNOTE: The result will be used as a client-facing example, so all elements must look clean, polished, and professionally stylized.\n"
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "size": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "GPT Image 1"
                        },
                        "quality": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "background": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "moderation": {
                            "mode": "chose",
                            "label": "Empty"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true,
                        "validate": {
                            "enum": [
                                "gpt-image-1",
                                "dall-e-3",
                                "dall-e-2"
                            ]
                        }
                    },
                    {
                        "name": "prompt",
                        "type": "text",
                        "label": "Prompt",
                        "required": true,
                        "validate": {
                            "max": 32000,
                            "min": 1
                        }
                    },
                    {
                        "name": "size",
                        "type": "select",
                        "label": "Size",
                        "validate": {
                            "enum": [
                                "auto",
                                "1024x1024",
                                "1536x1024",
                                "1024x1536"
                            ]
                        }
                    },
                    {
                        "name": "quality",
                        "type": "select",
                        "label": "Quality",
                        "validate": {
                            "enum": [
                                "auto",
                                "high",
                                "medium",
                                "low"
                            ]
                        }
                    },
                    {
                        "name": "background",
                        "type": "select",
                        "label": "Background",
                        "validate": {
                            "enum": [
                                "auto",
                                "transparent",
                                "opaque"
                            ]
                        }
                    },
                    {
                        "name": "n",
                        "type": "integer",
                        "label": "Number",
                        "validate": {
                            "max": 10,
                            "min": 1
                        }
                    },
                    {
                        "name": "moderation",
                        "type": "select",
                        "label": "Moderation",
                        "validate": {
                            "enum": [
                                "auto",
                                "low"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "data",
                        "spec": [
                            {
                                "name": "fileName",
                                "type": "text",
                                "label": "File Name",
                                "semantic": "file:name"
                            },
                            {
                                "name": "fileData",
                                "type": "buffer",
                                "label": "File Data",
                                "semantic": "file:data"
                            }
                        ],
                        "type": "array",
                        "label": "Data"
                    },
                    {
                        "name": "resImgName",
                        "type": "text",
                        "label": "Response Image Name",
                        "semantic": "file:name"
                    },
                    {
                        "name": "resImgData",
                        "type": "buffer",
                        "label": "Response Image Data",
                        "semantic": "file:data"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "input_tokens",
                                "type": "uinteger",
                                "label": "Input Tokens"
                            },
                            {
                                "name": "input_tokens_details",
                                "spec": [
                                    {
                                        "name": "image_tokens",
                                        "type": "uinteger",
                                        "label": "Image Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Input Tokens Details"
                            },
                            {
                                "name": "output_tokens",
                                "type": "uinteger",
                                "label": "Output Tokens"
                            },
                            {
                                "name": "total_tokens",
                                "type": "uinteger",
                                "label": "Total Tokens"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    }
                ]
            }
        },
        {
            "id": 18,
            "module": "dropbox:uploadLargeFile",
            "version": 5,
            "parameters": {
                "__IMTCONN__": 3234678
            },
            "mapper": {
                "data": "{{17.resImgData}}",
                "path": "/Action Figures",
                "filename": "{{17.resImgName}}",
                "overwrite": true
            },
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "path": {
                            "mode": "chose"
                        },
                        "overwrite": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "dropbox"
                            },
                            "label": "Joost Heijden AI - 10gig (joost.heijden@hotmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:dropbox",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "path",
                        "type": "folder",
                        "label": "Folder",
                        "required": true
                    },
                    {
                        "name": "filename",
                        "type": "filename",
                        "label": "File Name",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "overwrite",
                        "type": "boolean",
                        "label": "Overwrite an existing file",
                        "required": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 19,
            "module": "dropbox:createShareLink",
            "version": 5,
            "parameters": {
                "__IMTCONN__": 3234678
            },
            "mapper": {
                "path": "{{18.path_lower}}",
                "select": "map",
                "settings": {
                    "access": "max",
                    "allow_download": true
                }
            },
            "metadata": {
                "designer": {
                    "x": 2400,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Map a file/folder path"
                        },
                        "settings": {
                            "nested": {
                                "access": {
                                    "mode": "chose",
                                    "label": "Max Access"
                                },
                                "allow_download": {
                                    "mode": "chose"
                                },
                                "require_password": {
                                    "mode": "chose"
                                },
                                "requested_visibility": {
                                    "mode": "chose",
                                    "label": "Empty"
                                }
                            }
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "dropbox"
                            },
                            "label": "Joost Heijden AI - 10gig (joost.heijden@hotmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:dropbox",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Way of selecting files",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "file"
                            ]
                        }
                    },
                    {
                        "name": "settings",
                        "spec": [
                            {
                                "name": "access",
                                "type": "select",
                                "label": "Link's Access Level",
                                "validate": {
                                    "enum": [
                                        "viewer",
                                        "editor",
                                        "max"
                                    ]
                                }
                            },
                            {
                                "name": "expires",
                                "time": true,
                                "type": "date",
                                "label": "Link's Expiration Date"
                            },
                            {
                                "name": "require_password",
                                "type": "boolean",
                                "label": "Require Password"
                            },
                            {
                                "name": "link_password",
                                "type": "text",
                                "label": "Link's Password"
                            },
                            {
                                "name": "allow_download",
                                "type": "boolean",
                                "label": "Allow Download"
                            },
                            {
                                "name": "requested_visibility",
                                "type": "select",
                                "label": "Requested Visibility (Deprecated)",
                                "validate": {
                                    "enum": [
                                        "public",
                                        "team_only",
                                        "password"
                                    ]
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Settings"
                    },
                    {
                        "name": "path",
                        "type": "text",
                        "label": "File Path",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": true,
            "freshVariables": false
        },
        "designer": {
            "orphans": [
                [
                    {
                        "id": 8,
                        "module": "google-sheets:addRow",
                        "version": 2,
                        "parameters": {
                            "__IMTCONN__": 497135
                        },
                        "mapper": {
                            "from": "drive",
                            "mode": "select",
                            "values": {},
                            "sheetId": "action figure",
                            "spreadsheetId": "/1HBD1EWsrTN22saCEeH0ehVnZucetNuSPTyT47J_Syoc",
                            "includesHeaders": true,
                            "insertDataOption": "INSERT_ROWS",
                            "valueInputOption": "USER_ENTERED",
                            "insertUnformatted": false
                        },
                        "metadata": {
                            "designer": {
                                "x": 3850,
                                "y": 16,
                                "messages": [
                                    {
                                        "category": "link",
                                        "severity": "warning",
                                        "message": "The module is not connected to the data flow."
                                    }
                                ]
                            },
                            "restore": {
                                "expect": {
                                    "from": {
                                        "label": "My Drive"
                                    },
                                    "mode": {
                                        "label": "Search by path"
                                    },
                                    "sheetId": {
                                        "label": "action figure"
                                    },
                                    "spreadsheetId": {
                                        "path": [
                                            "Action Figure Orders"
                                        ]
                                    },
                                    "includesHeaders": {
                                        "label": "Yes",
                                        "nested": [
                                            {
                                                "name": "values",
                                                "spec": [
                                                    {
                                                        "name": "0",
                                                        "type": "text",
                                                        "label": "Name or slogan (A)"
                                                    },
                                                    {
                                                        "name": "1",
                                                        "type": "text",
                                                        "label": "Image 1 (B)"
                                                    },
                                                    {
                                                        "name": "2",
                                                        "type": "text",
                                                        "label": "Image 2 (C)"
                                                    },
                                                    {
                                                        "name": "3",
                                                        "type": "text",
                                                        "label": "Image 3 (D)"
                                                    },
                                                    {
                                                        "name": "4",
                                                        "type": "text",
                                                        "label": "Image 4 (E)"
                                                    },
                                                    {
                                                        "name": "5",
                                                        "type": "text",
                                                        "label": "image 5 (F)"
                                                    },
                                                    {
                                                        "name": "6",
                                                        "type": "text",
                                                        "label": "image 6 (G)"
                                                    },
                                                    {
                                                        "name": "7",
                                                        "type": "text",
                                                        "label": "image 7 (H)"
                                                    },
                                                    {
                                                        "name": "8",
                                                        "type": "text",
                                                        "label": "broek (I)"
                                                    },
                                                    {
                                                        "name": "9",
                                                        "type": "text",
                                                        "label": "truii (J)"
                                                    },
                                                    {
                                                        "name": "10",
                                                        "type": "text",
                                                        "label": "schoenen (K)"
                                                    },
                                                    {
                                                        "name": "11",
                                                        "type": "text",
                                                        "label": "(L)"
                                                    },
                                                    {
                                                        "name": "12",
                                                        "type": "text",
                                                        "label": "(M)"
                                                    },
                                                    {
                                                        "name": "13",
                                                        "type": "text",
                                                        "label": "(N)"
                                                    },
                                                    {
                                                        "name": "14",
                                                        "type": "text",
                                                        "label": "(O)"
                                                    },
                                                    {
                                                        "name": "15",
                                                        "type": "text",
                                                        "label": "(P)"
                                                    },
                                                    {
                                                        "name": "16",
                                                        "type": "text",
                                                        "label": "(Q)"
                                                    },
                                                    {
                                                        "name": "17",
                                                        "type": "text",
                                                        "label": "(R)"
                                                    },
                                                    {
                                                        "name": "18",
                                                        "type": "text",
                                                        "label": "(S)"
                                                    },
                                                    {
                                                        "name": "19",
                                                        "type": "text",
                                                        "label": "(T)"
                                                    },
                                                    {
                                                        "name": "20",
                                                        "type": "text",
                                                        "label": "(U)"
                                                    },
                                                    {
                                                        "name": "21",
                                                        "type": "text",
                                                        "label": "(V)"
                                                    },
                                                    {
                                                        "name": "22",
                                                        "type": "text",
                                                        "label": "(W)"
                                                    },
                                                    {
                                                        "name": "23",
                                                        "type": "text",
                                                        "label": "(X)"
                                                    },
                                                    {
                                                        "name": "24",
                                                        "type": "text",
                                                        "label": "(Y)"
                                                    },
                                                    {
                                                        "name": "25",
                                                        "type": "text",
                                                        "label": "(Z)"
                                                    },
                                                    {
                                                        "name": "26",
                                                        "type": "text",
                                                        "label": "(AA)"
                                                    },
                                                    {
                                                        "name": "27",
                                                        "type": "text",
                                                        "label": "(AB)"
                                                    },
                                                    {
                                                        "name": "28",
                                                        "type": "text",
                                                        "label": "(AC)"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Values"
                                            }
                                        ]
                                    },
                                    "insertDataOption": {
                                        "mode": "chose",
                                        "label": "Insert rows"
                                    },
                                    "valueInputOption": {
                                        "mode": "chose",
                                        "label": "User entered"
                                    },
                                    "insertUnformatted": {
                                        "mode": "chose"
                                    }
                                },
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "google"
                                        },
                                        "label": "My Google connection (heijden@gmail.com)"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:google",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "mode",
                                    "type": "select",
                                    "label": "Search Method",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "select",
                                            "fromAll",
                                            "map"
                                        ]
                                    }
                                },
                                {
                                    "name": "insertUnformatted",
                                    "type": "boolean",
                                    "label": "Unformatted",
                                    "required": true
                                },
                                {
                                    "name": "valueInputOption",
                                    "type": "select",
                                    "label": "Value input option",
                                    "validate": {
                                        "enum": [
                                            "USER_ENTERED",
                                            "RAW"
                                        ]
                                    }
                                },
                                {
                                    "name": "insertDataOption",
                                    "type": "select",
                                    "label": "Insert data option",
                                    "validate": {
                                        "enum": [
                                            "INSERT_ROWS",
                                            "OVERWRITE"
                                        ]
                                    }
                                },
                                {
                                    "name": "from",
                                    "type": "select",
                                    "label": "Drive",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "drive",
                                            "share",
                                            "team"
                                        ]
                                    }
                                },
                                {
                                    "name": "spreadsheetId",
                                    "type": "file",
                                    "label": "Spreadsheet ID",
                                    "required": true
                                },
                                {
                                    "name": "sheetId",
                                    "type": "select",
                                    "label": "Sheet Name",
                                    "required": true
                                },
                                {
                                    "name": "includesHeaders",
                                    "type": "select",
                                    "label": "Table contains headers",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            true,
                                            false
                                        ]
                                    }
                                },
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "Name or slogan (A)"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "Image 1 (B)"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "Image 2 (C)"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "Image 3 (D)"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "Image 4 (E)"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "image 5 (F)"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "image 6 (G)"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "image 7 (H)"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "broek (I)"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "truii (J)"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "schoenen (K)"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "(L)"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "(M)"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "(N)"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "(O)"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "(P)"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "(Q)"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "(R)"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "(S)"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "(T)"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "(U)"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "(V)"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "(W)"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "(X)"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "(Y)"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "(Z)"
                                        },
                                        {
                                            "name": "26",
                                            "type": "text",
                                            "label": "(AA)"
                                        },
                                        {
                                            "name": "27",
                                            "type": "text",
                                            "label": "(AB)"
                                        },
                                        {
                                            "name": "28",
                                            "type": "text",
                                            "label": "(AC)"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values"
                                }
                            ]
                        }
                    },
                    {
                        "id": 9,
                        "module": "google-sheets:filterRows",
                        "version": 2,
                        "parameters": {
                            "__IMTCONN__": 497135
                        },
                        "mapper": {
                            "from": "drive",
                            "limit": "1",
                            "filter": [
                                [
                                    {
                                        "a": "L",
                                        "o": "notexist"
                                    }
                                ]
                            ],
                            "sheetId": "action figure",
                            "sortOrder": "asc",
                            "spreadsheetId": "1HBD1EWsrTN22saCEeH0ehVnZucetNuSPTyT47J_Syoc",
                            "tableFirstRow": "A1:CZ1",
                            "includesHeaders": true,
                            "valueRenderOption": "FORMATTED_VALUE",
                            "dateTimeRenderOption": "FORMATTED_STRING"
                        },
                        "metadata": {
                            "designer": {
                                "x": 4138,
                                "y": 24
                            },
                            "restore": {
                                "expect": {
                                    "from": {
                                        "label": "Select from My Drive"
                                    },
                                    "orderBy": {
                                        "mode": "chose"
                                    },
                                    "sheetId": {
                                        "mode": "chose",
                                        "label": "action figure"
                                    },
                                    "sortOrder": {
                                        "mode": "chose",
                                        "label": "Ascending"
                                    },
                                    "spreadsheetId": {
                                        "mode": "chose",
                                        "label": "Action Figure Orders"
                                    },
                                    "tableFirstRow": {
                                        "label": "A-CZ"
                                    },
                                    "includesHeaders": {
                                        "mode": "chose",
                                        "label": "Yes"
                                    },
                                    "valueRenderOption": {
                                        "mode": "chose",
                                        "label": "Formatted value"
                                    },
                                    "dateTimeRenderOption": {
                                        "mode": "chose",
                                        "label": "Formatted string"
                                    }
                                },
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "google"
                                        },
                                        "label": "My Google connection (heijden@gmail.com)"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:google",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "from",
                                    "type": "select",
                                    "label": "Search Method",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "drive",
                                            "share"
                                        ]
                                    }
                                },
                                {
                                    "name": "valueRenderOption",
                                    "type": "select",
                                    "label": "Value render option",
                                    "validate": {
                                        "enum": [
                                            "FORMATTED_VALUE",
                                            "UNFORMATTED_VALUE",
                                            "FORMULA"
                                        ]
                                    }
                                },
                                {
                                    "name": "dateTimeRenderOption",
                                    "type": "select",
                                    "label": "Date and time render option",
                                    "validate": {
                                        "enum": [
                                            "SERIAL_NUMBER",
                                            "FORMATTED_STRING"
                                        ]
                                    }
                                },
                                {
                                    "name": "limit",
                                    "type": "uinteger",
                                    "label": "Limit"
                                },
                                {
                                    "name": "spreadsheetId",
                                    "type": "select",
                                    "label": "Spreadsheet ID",
                                    "required": true
                                },
                                {
                                    "name": "sheetId",
                                    "type": "select",
                                    "label": "Sheet Name",
                                    "required": true
                                },
                                {
                                    "name": "includesHeaders",
                                    "type": "select",
                                    "label": "Table contains headers",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            true,
                                            false
                                        ]
                                    }
                                },
                                {
                                    "name": "tableFirstRow",
                                    "type": "select",
                                    "label": "Column range",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "A1:Z1",
                                            "A1:BZ1",
                                            "A1:CZ1",
                                            "A1:DZ1",
                                            "A1:MZ1",
                                            "A1:ZZ1",
                                            "A1:AZZ1",
                                            "A1:BZZ1",
                                            "A1:CZZ1",
                                            "A1:DZZ1",
                                            "A1:MZZ1",
                                            "A1:ZZZ1"
                                        ]
                                    }
                                },
                                {
                                    "name": "filter",
                                    "type": "filter",
                                    "label": "Filter",
                                    "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                                },
                                {
                                    "name": "orderBy",
                                    "type": "select",
                                    "label": "Order by"
                                },
                                {
                                    "name": "sortOrder",
                                    "type": "select",
                                    "label": "Sort order",
                                    "validate": {
                                        "enum": [
                                            "asc",
                                            "desc"
                                        ]
                                    }
                                }
                            ],
                            "interface": [
                                {
                                    "name": "__ROW_NUMBER__",
                                    "type": "number",
                                    "label": "Row number"
                                },
                                {
                                    "name": "__SPREADSHEET_ID__",
                                    "type": "text",
                                    "label": "Spreadsheet ID"
                                },
                                {
                                    "name": "__SHEET__",
                                    "type": "text",
                                    "label": "Sheet"
                                },
                                {
                                    "name": "0",
                                    "type": "text",
                                    "label": "Name or slogan (A)"
                                },
                                {
                                    "name": "1",
                                    "type": "text",
                                    "label": "Image 1 (B)"
                                },
                                {
                                    "name": "2",
                                    "type": "text",
                                    "label": "Image 2 (C)"
                                },
                                {
                                    "name": "3",
                                    "type": "text",
                                    "label": "Image 3 (D)"
                                },
                                {
                                    "name": "4",
                                    "type": "text",
                                    "label": "Image 4 (E)"
                                },
                                {
                                    "name": "5",
                                    "type": "text",
                                    "label": "image 5 (F)"
                                },
                                {
                                    "name": "6",
                                    "type": "text",
                                    "label": "image 6 (G)"
                                },
                                {
                                    "name": "7",
                                    "type": "text",
                                    "label": "image 7 (H)"
                                },
                                {
                                    "name": "8",
                                    "type": "text",
                                    "label": "broek (I)"
                                },
                                {
                                    "name": "9",
                                    "type": "text",
                                    "label": "truii (J)"
                                },
                                {
                                    "name": "10",
                                    "type": "text",
                                    "label": "schoenen (K)"
                                },
                                {
                                    "name": "11",
                                    "type": "text",
                                    "label": "status (L)"
                                },
                                {
                                    "name": "12",
                                    "type": "text",
                                    "label": "(M)"
                                },
                                {
                                    "name": "13",
                                    "type": "text",
                                    "label": "(N)"
                                },
                                {
                                    "name": "14",
                                    "type": "text",
                                    "label": "(O)"
                                },
                                {
                                    "name": "15",
                                    "type": "text",
                                    "label": "(P)"
                                },
                                {
                                    "name": "16",
                                    "type": "text",
                                    "label": "(Q)"
                                },
                                {
                                    "name": "17",
                                    "type": "text",
                                    "label": "(R)"
                                },
                                {
                                    "name": "18",
                                    "type": "text",
                                    "label": "(S)"
                                },
                                {
                                    "name": "19",
                                    "type": "text",
                                    "label": "(T)"
                                },
                                {
                                    "name": "20",
                                    "type": "text",
                                    "label": "(U)"
                                },
                                {
                                    "name": "21",
                                    "type": "text",
                                    "label": "(V)"
                                },
                                {
                                    "name": "22",
                                    "type": "text",
                                    "label": "(W)"
                                },
                                {
                                    "name": "23",
                                    "type": "text",
                                    "label": "(X)"
                                },
                                {
                                    "name": "24",
                                    "type": "text",
                                    "label": "(Y)"
                                },
                                {
                                    "name": "25",
                                    "type": "text",
                                    "label": "(Z)"
                                },
                                {
                                    "name": "26",
                                    "type": "text",
                                    "label": "(AA)"
                                },
                                {
                                    "name": "27",
                                    "type": "text",
                                    "label": "(AB)"
                                },
                                {
                                    "name": "28",
                                    "type": "text",
                                    "label": "(AC)"
                                },
                                {
                                    "name": "29",
                                    "type": "text",
                                    "label": "(AD)"
                                },
                                {
                                    "name": "30",
                                    "type": "text",
                                    "label": "(AE)"
                                },
                                {
                                    "name": "31",
                                    "type": "text",
                                    "label": "(AF)"
                                },
                                {
                                    "name": "32",
                                    "type": "text",
                                    "label": "(AG)"
                                },
                                {
                                    "name": "33",
                                    "type": "text",
                                    "label": "(AH)"
                                },
                                {
                                    "name": "34",
                                    "type": "text",
                                    "label": "(AI)"
                                },
                                {
                                    "name": "35",
                                    "type": "text",
                                    "label": "(AJ)"
                                },
                                {
                                    "name": "36",
                                    "type": "text",
                                    "label": "(AK)"
                                },
                                {
                                    "name": "37",
                                    "type": "text",
                                    "label": "(AL)"
                                },
                                {
                                    "name": "38",
                                    "type": "text",
                                    "label": "(AM)"
                                },
                                {
                                    "name": "39",
                                    "type": "text",
                                    "label": "(AN)"
                                },
                                {
                                    "name": "40",
                                    "type": "text",
                                    "label": "(AO)"
                                },
                                {
                                    "name": "41",
                                    "type": "text",
                                    "label": "(AP)"
                                },
                                {
                                    "name": "42",
                                    "type": "text",
                                    "label": "(AQ)"
                                },
                                {
                                    "name": "43",
                                    "type": "text",
                                    "label": "(AR)"
                                },
                                {
                                    "name": "44",
                                    "type": "text",
                                    "label": "(AS)"
                                },
                                {
                                    "name": "45",
                                    "type": "text",
                                    "label": "(AT)"
                                },
                                {
                                    "name": "46",
                                    "type": "text",
                                    "label": "(AU)"
                                },
                                {
                                    "name": "47",
                                    "type": "text",
                                    "label": "(AV)"
                                },
                                {
                                    "name": "48",
                                    "type": "text",
                                    "label": "(AW)"
                                },
                                {
                                    "name": "49",
                                    "type": "text",
                                    "label": "(AX)"
                                },
                                {
                                    "name": "50",
                                    "type": "text",
                                    "label": "(AY)"
                                },
                                {
                                    "name": "51",
                                    "type": "text",
                                    "label": "(AZ)"
                                },
                                {
                                    "name": "52",
                                    "type": "text",
                                    "label": "(BA)"
                                },
                                {
                                    "name": "53",
                                    "type": "text",
                                    "label": "(BB)"
                                },
                                {
                                    "name": "54",
                                    "type": "text",
                                    "label": "(BC)"
                                },
                                {
                                    "name": "55",
                                    "type": "text",
                                    "label": "(BD)"
                                },
                                {
                                    "name": "56",
                                    "type": "text",
                                    "label": "(BE)"
                                },
                                {
                                    "name": "57",
                                    "type": "text",
                                    "label": "(BF)"
                                },
                                {
                                    "name": "58",
                                    "type": "text",
                                    "label": "(BG)"
                                },
                                {
                                    "name": "59",
                                    "type": "text",
                                    "label": "(BH)"
                                },
                                {
                                    "name": "60",
                                    "type": "text",
                                    "label": "(BI)"
                                },
                                {
                                    "name": "61",
                                    "type": "text",
                                    "label": "(BJ)"
                                },
                                {
                                    "name": "62",
                                    "type": "text",
                                    "label": "(BK)"
                                },
                                {
                                    "name": "63",
                                    "type": "text",
                                    "label": "(BL)"
                                },
                                {
                                    "name": "64",
                                    "type": "text",
                                    "label": "(BM)"
                                },
                                {
                                    "name": "65",
                                    "type": "text",
                                    "label": "(BN)"
                                },
                                {
                                    "name": "66",
                                    "type": "text",
                                    "label": "(BO)"
                                },
                                {
                                    "name": "67",
                                    "type": "text",
                                    "label": "(BP)"
                                },
                                {
                                    "name": "68",
                                    "type": "text",
                                    "label": "(BQ)"
                                },
                                {
                                    "name": "69",
                                    "type": "text",
                                    "label": "(BR)"
                                },
                                {
                                    "name": "70",
                                    "type": "text",
                                    "label": "(BS)"
                                },
                                {
                                    "name": "71",
                                    "type": "text",
                                    "label": "(BT)"
                                },
                                {
                                    "name": "72",
                                    "type": "text",
                                    "label": "(BU)"
                                },
                                {
                                    "name": "73",
                                    "type": "text",
                                    "label": "(BV)"
                                },
                                {
                                    "name": "74",
                                    "type": "text",
                                    "label": "(BW)"
                                },
                                {
                                    "name": "75",
                                    "type": "text",
                                    "label": "(BX)"
                                },
                                {
                                    "name": "76",
                                    "type": "text",
                                    "label": "(BY)"
                                },
                                {
                                    "name": "77",
                                    "type": "text",
                                    "label": "(BZ)"
                                },
                                {
                                    "name": "78",
                                    "type": "text",
                                    "label": "(CA)"
                                },
                                {
                                    "name": "79",
                                    "type": "text",
                                    "label": "(CB)"
                                },
                                {
                                    "name": "80",
                                    "type": "text",
                                    "label": "(CC)"
                                },
                                {
                                    "name": "81",
                                    "type": "text",
                                    "label": "(CD)"
                                },
                                {
                                    "name": "82",
                                    "type": "text",
                                    "label": "(CE)"
                                },
                                {
                                    "name": "83",
                                    "type": "text",
                                    "label": "(CF)"
                                },
                                {
                                    "name": "84",
                                    "type": "text",
                                    "label": "(CG)"
                                },
                                {
                                    "name": "85",
                                    "type": "text",
                                    "label": "(CH)"
                                },
                                {
                                    "name": "86",
                                    "type": "text",
                                    "label": "(CI)"
                                },
                                {
                                    "name": "87",
                                    "type": "text",
                                    "label": "(CJ)"
                                },
                                {
                                    "name": "88",
                                    "type": "text",
                                    "label": "(CK)"
                                },
                                {
                                    "name": "89",
                                    "type": "text",
                                    "label": "(CL)"
                                },
                                {
                                    "name": "90",
                                    "type": "text",
                                    "label": "(CM)"
                                },
                                {
                                    "name": "91",
                                    "type": "text",
                                    "label": "(CN)"
                                },
                                {
                                    "name": "92",
                                    "type": "text",
                                    "label": "(CO)"
                                },
                                {
                                    "name": "93",
                                    "type": "text",
                                    "label": "(CP)"
                                },
                                {
                                    "name": "94",
                                    "type": "text",
                                    "label": "(CQ)"
                                },
                                {
                                    "name": "95",
                                    "type": "text",
                                    "label": "(CR)"
                                },
                                {
                                    "name": "96",
                                    "type": "text",
                                    "label": "(CS)"
                                },
                                {
                                    "name": "97",
                                    "type": "text",
                                    "label": "(CT)"
                                },
                                {
                                    "name": "98",
                                    "type": "text",
                                    "label": "(CU)"
                                },
                                {
                                    "name": "99",
                                    "type": "text",
                                    "label": "(CV)"
                                },
                                {
                                    "name": "100",
                                    "type": "text",
                                    "label": "(CW)"
                                },
                                {
                                    "name": "101",
                                    "type": "text",
                                    "label": "(CX)"
                                },
                                {
                                    "name": "102",
                                    "type": "text",
                                    "label": "(CY)"
                                },
                                {
                                    "name": "103",
                                    "type": "text",
                                    "label": "(CZ)"
                                }
                            ]
                        }
                    },
                    {
                        "id": 2,
                        "module": "canva:makeApiCall",
                        "version": 1,
                        "metadata": {
                            "designer": {
                                "x": 4438,
                                "y": 24,
                                "messages": [
                                    {
                                        "category": "setup",
                                        "severity": "error",
                                        "message": "Value must not be empty."
                                    }
                                ]
                            }
                        }
                    },
                    {
                        "id": 3,
                        "module": "util:FunctionSleep",
                        "version": 1,
                        "metadata": {
                            "designer": {
                                "x": 4738,
                                "y": 24
                            }
                        }
                    },
                    {
                        "id": 4,
                        "module": "canva:makeApiCall",
                        "version": 1,
                        "metadata": {
                            "designer": {
                                "x": 5038,
                                "y": 24,
                                "messages": [
                                    {
                                        "category": "setup",
                                        "severity": "error",
                                        "message": "Value must not be empty."
                                    }
                                ]
                            }
                        }
                    },
                    {
                        "id": 5,
                        "module": "canva:exportDesign",
                        "version": 1,
                        "metadata": {
                            "designer": {
                                "x": 5338,
                                "y": 24,
                                "messages": [
                                    {
                                        "category": "setup",
                                        "severity": "error",
                                        "message": "Value must not be empty."
                                    }
                                ]
                            }
                        }
                    },
                    {
                        "id": 6,
                        "module": "email:ActionSendEmail",
                        "version": 7,
                        "parameters": {
                            "account": 2485799,
                            "saveAfterSent": false
                        },
                        "mapper": {
                            "cc": [],
                            "to": [
                                "calvin@hai-retail.com",
                                "contact@joostheijden.com"
                            ],
                            "bcc": [],
                            "from": "",
                            "html": "",
                            "sender": "",
                            "headers": [],
                            "replyTo": "",
                            "subject": "Jouw Action Figure ",
                            "priority": "normal",
                            "inReplyTo": "",
                            "references": [],
                            "attachments": [],
                            "contentType": "html"
                        },
                        "metadata": {
                            "designer": {
                                "x": 5638,
                                "y": 24
                            },
                            "restore": {
                                "expect": {
                                    "cc": {
                                        "mode": "chose"
                                    },
                                    "to": {
                                        "mode": "chose",
                                        "items": [
                                            null,
                                            null
                                        ]
                                    },
                                    "bcc": {
                                        "mode": "chose"
                                    },
                                    "priority": {
                                        "label": "Normal"
                                    },
                                    "references": {
                                        "mode": "chose"
                                    },
                                    "attachments": {
                                        "mode": "chose"
                                    },
                                    "contentType": {
                                        "label": "HTML"
                                    }
                                },
                                "parameters": {
                                    "account": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "smtp"
                                        },
                                        "label": "SMTP contact@joostheijden.com (SMTP contact@joostheijden.com)"
                                    },
                                    "saveAfterSent": {
                                        "label": "No"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "account",
                                    "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                                    "label": "Connection",
                                    "required": true
                                },
                                {
                                    "name": "saveAfterSent",
                                    "type": "select",
                                    "label": "Save message after sending",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            true,
                                            false
                                        ]
                                    }
                                },
                                {
                                    "type": "hidden"
                                }
                            ],
                            "expect": [
                                {
                                    "name": "to",
                                    "spec": {
                                        "name": "value",
                                        "type": "email",
                                        "label": "Email address",
                                        "required": true
                                    },
                                    "type": "array",
                                    "label": "To",
                                    "required": true
                                },
                                {
                                    "name": "subject",
                                    "type": "text",
                                    "label": "Subject"
                                },
                                {
                                    "name": "contentType",
                                    "type": "select",
                                    "label": "Content Type",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "html",
                                            "text"
                                        ]
                                    }
                                },
                                {
                                    "name": "attachments",
                                    "spec": [
                                        {
                                            "name": "fileName",
                                            "type": "filename",
                                            "label": "File name",
                                            "required": true,
                                            "semantic": "file:name"
                                        },
                                        {
                                            "name": "data",
                                            "type": "buffer",
                                            "label": "Data",
                                            "required": true,
                                            "semantic": "file:data"
                                        },
                                        {
                                            "name": "cid",
                                            "type": "text",
                                            "label": "Content-ID"
                                        }
                                    ],
                                    "type": "array",
                                    "label": "Attachments"
                                },
                                {
                                    "name": "cc",
                                    "spec": {
                                        "name": "value",
                                        "type": "email",
                                        "label": "Email address"
                                    },
                                    "type": "array",
                                    "label": "Copy recipient"
                                },
                                {
                                    "name": "bcc",
                                    "spec": {
                                        "name": "value",
                                        "type": "email",
                                        "label": "Email address"
                                    },
                                    "type": "array",
                                    "label": "Blind copy recipient"
                                },
                                {
                                    "name": "from",
                                    "type": "text",
                                    "label": "From"
                                },
                                {
                                    "name": "sender",
                                    "type": "text",
                                    "label": "Sender"
                                },
                                {
                                    "name": "replyTo",
                                    "type": "text",
                                    "label": "Reply-To"
                                },
                                {
                                    "name": "inReplyTo",
                                    "type": "text",
                                    "label": "In-Reply-To"
                                },
                                {
                                    "name": "references",
                                    "spec": {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Reference",
                                        "required": true
                                    },
                                    "type": "array",
                                    "label": "References"
                                },
                                {
                                    "name": "priority",
                                    "type": "select",
                                    "label": "Priority",
                                    "validate": {
                                        "enum": [
                                            "high",
                                            "normal",
                                            "low"
                                        ]
                                    }
                                },
                                {
                                    "name": "headers",
                                    "spec": [
                                        {
                                            "name": "key",
                                            "type": "text",
                                            "label": "Key",
                                            "required": true
                                        },
                                        {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Value",
                                            "required": true
                                        }
                                    ],
                                    "type": "array",
                                    "label": "Headers"
                                },
                                {
                                    "name": "html",
                                    "type": "text",
                                    "label": "Content"
                                }
                            ]
                        }
                    },
                    {
                        "id": 7,
                        "module": "google-sheets:updateRow",
                        "version": 2,
                        "metadata": {
                            "designer": {
                                "x": 5938,
                                "y": 24,
                                "messages": [
                                    {
                                        "category": "setup",
                                        "severity": "error",
                                        "message": "Value must not be empty."
                                    }
                                ]
                            }
                        }
                    }
                ]
            ]
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}